{% extends "layout.html" %}
{% block title %}关于{% endblock %}
{% block content %}
<div class="row" >

    <div class="col-lg-12" style="text-align:center">
        <h1 style="line-height:200px;font-size:100px;font-family: Alakob;color:white">PicUp.me</h1>
        <span style="line-height:40px;font-size:20px;font-family:'微软雅黑'">
            PicUp.me 是一个免费商业图片分享网站<br/>这里收集了40余个网站超过30000副免费图片
            (<a href="https://creativecommons.org/publicdomain/zero/1.0/deed.zh" target="_blank">Creative Commons Zero</a>)
            <br/>你可以下载这些高清大图，或对这些照片添加标签、收藏、分享</span>


        <p style="margin-top:40px; line-height:40px;font-size:20px;font-family:'微软雅黑'">如果有任何问题或建议，可以通过邮箱联系我们:<a href="mailto:admin@picup.me">admin@picup.me</a></p>
        <p style="margin-top:40px; line-height:40px;font-size:20px;font-family:'微软雅黑'">本网站暂无盈利计划，系统代码开源，欢迎小伙伴一起参与共建<br/>
            Github地址：<a href="https://github.com/zhonghcc/picmeup">https://github.com/zhonghcc/picmeup</a></p>
        <p style="margin-top:40px; line-height:40px;font-size:20px;font-family:'微软雅黑'">为防止恶意下载，增强图片社区内容标注，小站开启虚拟金币制，给图片加标签增加一金币，下载消耗一金币。</p>
             </span>
    </div>


</div>
<div style="margin-top:150px;"></div>
<style>
@font-face {
    font-family: 'Alakob';

src: url('/static/font/Pacifico.ttf');
}
    .grid-item{
        width:300px;
        margin-bottom: 20px;
        float: left;


    }
    .grid-item img {
        max-width: 100%;
    }

</style>
{% endblock %}