{% extends "layout.html" %}
{% block title %}主页{% endblock %}
{% block content %}
<div class="row" >

    <div class="col-lg-12" style="text-align:center">
        <h1 class="big-title">PicUp.me</h1>
        <span style="" class="big-desc">
            PicUp.me 是一个免费商业图片分享网站，这里收集了40余个网站超过30000副免费图片
            (<a href="https://creativecommons.org/publicdomain/zero/1.0/deed.zh" target="_blank">Creative Commons Zero</a>)。
            <br/>你可以下载这些高清大图，或对这些照片添加标签、收藏、分享</span>

    </div>


</div>
<div class="big-blank" ></div>
<nav id="page-nav">
    <a href="{{url_for('home.page',pageid=2)}}"></a>
</nav>
<div class="grid">
{% for article in articles %}

{% include '_article.html' %}


{% endfor %}
</div>
<div class="grid-loading" style="height:50px;text-align:center"></div>
<style>



</style>
<script>

    var totalcount={{totalcount}};
    var totalpage=(totalcount/20)+1;
    var readedpage = {{readedpage}};
</script>
{% endblock %}