{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">

    <div class="col-lg-12" style="text-align:center">
        <h1 style="line-height:200px;font-size:100px;font-family: Alakob;color:white">PicUp.me</h1>
        <span style="line-height:40px;font-size:20px;font-family:'微软雅黑'">This is a free license photography sharing application.
            <br/>Let's mark these amazing picture and sharing them!</span>
    </div>


</div>
<div style="margin-top:150px;"></div>
<div class="grid">
{% for article in articles %}

    <a href="{{url_for('item.detail',id=article.id)}}">
    <div class="grid-item" href="#">
        <img class="" src="{{url_for('pic.getPic',source=article.origin,fileName=article.file_name,type='little')}}" alt="{{article.title}}">
    </div>
    </a>


{% endfor %}
</div>
<style>
@font-face {
    font-family: 'Alakob';

src: url('/static/font/Pacifico.ttf');
}
    .grid-item{
        width:300px;
        margin-bottom: 20px;
        float: left;


    }
    .grid-item img {
        max-width: 100%;
    }

</style>
{% endblock %}