{% extends "layout.html" %}
{% block title %}{{article.title}}{% endblock %}
{% block content %}
<div class="row">

    <div class="col-md-8 col-xs-12">

    <h2>{{article.title}}
        <span style="font-size:16px;margin-left:20px;color:grey">
        <span class="glyphicon glyphicon-heart" aria-hidden="true">&nbsp;{{article.like_num}}</span>
            <span class="glyphicon glyphicon-eye-open" style="margin-left:20px;" aria-hidden="true">&nbsp;{{article.view_num}}</span>
            </span>
    </h2>
    </div>




</div>
<hr/>
<div class="row" style="text-align: center">

    <div class="col-md-8 col-xs-12">
    <img class="middle-img" src="{{url_for('pic.getPic',source=article.origin,fileName=article.file_name,type='middle')}}" alt="{{article.title}}">

    </div>
    <div class="col-md-4 col-xs-12" style="line-height:40px;">
        <h2>标签</h2>
        {% if tags %}
        {% for tag in tags %}
        <span class="label label-default">{{tag.title}}</span>
        {% endfor %}
        {% else %}
        <span> 暂无标签，请添加</span>
        {% endif %}
        <form action={{url_for('item.addTag',id=article.id)}} method="post">
            {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="col-md-9">
                <input type="text" class="form-control" name="tag" id="tag" placeholder="tag">
                {% for error in form.tag.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-default btn-block" >添加！</button>
            </div>
        </div>
        </form>
        {% if mytags %}
        <h3>我添加的标签</h3>
        <span class="label label-default">Default</span>
        {% endif %}
        <hr/>
    </div>
    <div class="col-md-4 col-xs-12" style="">
        <h2>作者</h2>
        <h2><a href="{{url_for('user.profile',id=author.id)}}">{{author.nickname}}</a></h2>
        <p>{{author.description}}</p>

    </div>
</div>
<div class="row container" style="position:fixed;bottom:0;z-index: 999;">

    <div class="col-md-4 col-xs-12 col-md-offset-8" style="">
        <div class="row">

            <div class="col-md-3 col-xs-3">
                <h2 style="text-align: center">
                    <a class="heart" style="font-size:40px;"
                       href="{{url_for('item.like',id=article.id)}}">
                        {% if isLike %}
                        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                        {% endif %}
                    </a>
                </h2>

            </div>
            <div class="col-md-9 col-xs-9">

                <h2 style="text-align: center">
                    <a class="btn btn-success btn-lg btn-block"
                       href="{{url_for('pic.downloadPic',source=article.origin,fileName=article.file_name,id=article.id)}}">
                        下载高清大图
                    </a>
                </h2>
            </div>

        </div>
    </div>
</div>
{% endblock %}