{%- import '_helpers.html' as t -%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="CC0,Creative Commons Zero,photography,摄影图片,图片搜索,免费商业图片,免费CC0图片,高清大图下载,噼咔网,{% block keywords %}{% endblock %}"/>
    <meta name="description" content="picup.me,噼咔网,免费图片共享和标注,PicUp.me 是一个免费商业图片分享网站，这里收集了40余个网站超过30000副基于CC0协议免费商业图片 (Creative Commons Zero)
你可以下载这些高清大图，或对这些照片添加标签、收藏、分享">
    <meta name="author" content="zhonghcc">
    <title>{% block title %}{% endblock %}-picup.me</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- 全局样式 -->
    {{ t.css('lib/css/bootstrap.min.css') }}
    {{ t.css('lib/css/thumbnail-gallery.css') }}
    {{ t.css('css/common.css') }}

    <!-- 页面样式 -->
    {% block styles %}
    {{ t.css('css/%s.css' % request.blueprint) }}
    {% endblock %}


</head>
<body>
<nav  class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PicUp.me</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('home.about') }}">关于</a>
                </li>
                <li>
                    <a href="{{ url_for('home.explore') }}">发现</a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('user.profile', id = current_user.id) }}">欢迎回来 {{ current_user.user.username }}</a></li>
                <li><a href="{{ url_for('user.logout')}}">登出</a></li>
                {% else %}
                <li><a href="/user/login">登录</a></li>
                <li><a href="/user/signup">注册</a></li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-right" _lpchecked="1" action="{{ url_for('home.search')}}" method="post">
                <input type="text" class="form-control" name=key placeholder="搜索...">
                <input type="submit" hidden/>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

    <!-- Page Content -->

<div class="container">

    {% for message in get_flashed_messages() %}
    <div class="alert alert-info flash container" style="display: none;position:fixed;top:80px;z-index: 999;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}



    {% block content %}{% endblock %}

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; PicUp.ME 2017</p>
            </div>
        </div>
    </footer>


</div>

<!-- 全局脚本 -->
{{ t.js('lib/js/jquery.js') }}
{{ t.js('lib/js/bootstrap.min.js') }}
{{ t.js('lib/js/masonry.pkgd.min.js') }}
{{ t.js('lib/js/imagesloaded.pkgd.min.js') }}
{{ t.js('lib/js/jquery.infinitescroll.min.js') }}
{{ t.js('js/commons.js') }}
{{ t.js('js/application.js') }}

<!-- 页面脚本 -->
{% block scripts %}

{{ t.js('js/%s.js' % request.blueprint) }}
{% endblock %}
{% include "_analytics.html" %}
</body>
</html>