{% extends "layout.html" %}
{% block title %}搜索{% endblock %}
{% block content %}

{% if isDefault %}
<h3>抱歉没有为您找到相关图片</h3>
{% else %}
<h3>为您找到有 <{{ key }}> 关键字的作品</h3>
{% endif %}

<div class="row" style="text-align: center;margin-top:30px;">

    <div class="grid">
        {% for article in articles %}

        {% include '_article.html' %}


        {% endfor %}
    </div>

</div>
<style>

    .grid-item{
        width:300px;
        margin-bottom: 20px;
        float: left;


    }
    .grid-item img {
        max-width: 100%;
    }

</style>
{% endblock %}