body {
    background: url('../img/classy_fabric_light.jpg');
    color:#dddddd;
}
.container{
    /*width:1300px;*/
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1300px;
    }
}
